@import "src/themes/__variables.scss";

:local {
  .invalidLabel {
    font-style: italic;
    background: #ff0000;
    color: #FFFFFF;
    padding: 4px 8px;
    border-radius: 3px;
    max-width: 300px;
    margin: 20px auto 0;
  }

  label {
    margin-bottom: 1.259em;
    display: block;
    font-size: .82em;
  }

  .submit {
    &.isLoading {
      pointer-events: none;
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--color-loader);
        background-color: inherit;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        border-radius: 4px;
        z-index: 1;
      }
    }

    span {
      display: block;

      @media all and (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    svg {
      display: none;
      @media all and (max-width: $breakpoint-mobile) {
        display: block;
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;

    input {
      min-width: 100%;
      text-align: center;
      margin-bottom: 1em;
      outline: none;
      border-color: transparent;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ff0000;
      letter-spacing: 8px;
    }

    input, button {
      position: relative;
      min-height: 2.5em;
      border-radius: 4px;
      flex-basis: 100%;
      font-size: 1.25em;
    }

    button {
      min-width: 222px;
      border: 0;
    }

    @media all and (max-width: $breakpoint-tablet) {
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;


      button {
        min-width: 170px;
        margin-left: 25px;
      }

      input {
        min-width: calc(100% - 170px - 25px);
      }
    }

    @media all and (max-width: $breakpoint-tablet) {
      input {
        min-width: 100%
      }
      button {
        position: absolute;
        right: 3px;
        min-width: 41px;
        flex: 0 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        min-height: 35px;
        margin-top: 3px;
        min-width: 100px;
      }
    }

    @media all and (max-width: $breakpoint-mobile) {
      input {
        min-width: 100%;
        height: 50px;
      }
      button {
        position: absolute;
        right: 3px;
        flex: 0 1;
        flex-basis: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        min-height: 45px;
        max-width: 45px;
        min-width: 45px;
        margin-top: 3px;
      }
    }
  }
}
